.my-infomation {
  .mycover {
    position: relative;
    img {
      width: 1519px;
      height: 478px;
    }
    .myrevise {
      position: absolute;
      right: 115px;
      top: 105px;
      width: 100px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 200;
      // overflow: hidden;
    }
  }

  .my-content {
    position: relative;

    .content-left {
      height: 150px;
      background-color: #fff;

      .myavatar {
        width: 164px;
        height: 164px;
        background-color: aqua;
        position: absolute;
        border-radius: 50%;
        top: -82px;
        left: 200px;

        img {
          width: 164px;
          height: 164px;
          border-radius: 50%;
        }
      }

      .ueser-name {
        position: absolute;
        top: -45px;
        left: 395px;
        color: #fff;
        font-size: 24px;
      }
    }

    .content-right {
      position: absolute;
      bottom: 135px;
      right: 200px;
      width: 120px;
      height: 40px;
      color: #fff;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      border-radius: 20px;
      background-color: #52a5f4;
      cursor: pointer;
    }

    .myinfomodule {
      position: absolute;
      bottom: 55px;
      right: 198px;
      width: 120px;
      display: flex;
      justify-content: space-between;
      text-align: center;

      .ss {
        color: #666;
        font-size: 12px;
        margin: 0 0 10px;
      }

      .ww {
        color: #333;
        font-size: 24px;
      }
    }
  }

  .mytitle {
    width: 100%;
    height: 500px;
    background-color: #fafafa;

    .items {
      display: flex;
      margin: 0 auto;
      width: 1232px;
      justify-content: center;
    }

    .items li {
      width: 100px;
      height: 40px;
      font-size: 18px;

      text-align: center;
      line-height: 40px;
      color: #999;
      position: relative;
      margin: 10px 10px 0px 0px;
      cursor: pointer;
      list-style-type: none;
    }

    .items li:before {
      content: "";
      height: 2px;
      background-color: #333;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transition: 0.3s;
    }

    .items li:hover:before {
      transform: scaleX(1);
    }
  }
}
